#!/usr/bin/make -f

export GEM2DEB_TEST_RUNNER = --check-dependencies

%:
	dh $@ --buildsystem=ruby --with ruby

override_dh_auto_build:
	dh_auto_build
	mkd2html README.md

override_dh_auto_install:
	dh_auto_install
	# included binary is not useful on end user systems
	$(RM) -r debian/ruby-ffi-yajl/usr/bin
